<section class='hero is-dark'>
  <div class='hero-body has-text-centered has-text-black'>
    <p class='is-size-7'>Website created with Ruby on Rails and BulmaCSS</p>
    <p class='is-size-7'>By: Daniel Évani</p>
    <a target='_blank' href="https://instagram.com/saopaulofc?utm_medium=copy_link">
      <%= fa_icon("instagram", class:'is-size-4') %>
    </a>
    <a target='_blank' href="https://www.facebook.com/saopaulofc/">
      <%= fa_icon("facebook", class:'is-size-4') %>
    </a> 
    <a target='_blank' href="https://twitter.com/SaoPauloFC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
      <%= fa_icon("twitter", class:'is-size-4') %>
    </a>
    <a target='_blank' href="https://www.linkedin.com/in/daniel-%C3%A9vani-lima-dos-santos-3ab161188/">
      <%= fa_icon("linkedin", class:'is-size-4') %>
    </a> 
  </div>
</section>