<div class='container'>
  <div class='box'>
    <div class='container is-fluid'>
      <div class='container is-fluid mt-2'>
        <h1 class='title is-4 is-size-5-mobile'>
          Partidas
        </h1>
        <div class='columns'>
          <%= render 'matchs_events' %>
        </div>
      </div>
      <br>
      <div class='container is-fluid'>
        <h1 class='title is-4 is-size-5-mobile'>
          Notícias
        </h1>
        <div class='columns'>
          <%= render 'notices' %>
        </div>
        <div class='columns is-centered'>
          <div class='column is-2 is-offset-1'>
            <a class='button is-danger is-outlined' href='/notices'>
              Ver mais
            </a>
          </div>
        </div>    
      </div>  
    </div>
  </div>
</div>
