@import "bulma";
@import "font-awesome";
@import 'home';
@import "./actiontext.scss";
// require "actiontext.scss"
body {
  background: image-url("/grama.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
